<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Event 1</key>
	<dict>
		<key>name</key>
		<string>The First World Series</string>
		<key>date</key>
		<date>1903-10-01T17:00:00Z</date>
		<key>infoUrlString</key>
		<string>https://en.wikipedia.org/wiki/1903_World_Series</string>
	</dict>
	<key>Event 2</key>
	<dict>
		<key>name</key>
		<string>First Ford Model T completed</string>
		<key>date</key>
		<date>1908-10-01T17:00:00Z</date>
		<key>infoUrlString</key>
		<string>http://www.history.com/this-day-in-history/ford-motor-company-unveils-the-model-t</string>
	</dict>
	<key>Event 3</key>
	<dict>
		<key>name</key>
		<string>The Titanic Sinks</string>
		<key>date</key>
		<date>1912-04-15T17:00:00Z</date>
		<key>infoUrlString</key>
		<string>http://www.history.com/this-day-in-history/titanic-sinks</string>
	</dict>
	<key>Event 4</key>
	<dict>
		<key>name</key>
		<string>First radio broadcast in Pittsburgh, Pennsylvania</string>
		<key>date</key>
		<date>1920-11-02T17:00:00Z</date>
		<key>infoUrlString</key>
		<string>http://pittsburgh.cbslocal.com/2012/03/08/kdkas-historic-broadcast/</string>
	</dict>
	<key>Event 5</key>
	<dict>
		<key>name</key>
		<string>The Great Depression begins</string>
		<key>date</key>
		<date>1929-10-29T17:00:00Z</date>
		<key>infoUrlString</key>
		<string>http://www.history.com/topics/great-depression</string>
	</dict>
	<key>Event 6</key>
	<dict>
		<key>name</key>
		<string>Pearl Harbor attacked</string>
		<key>date</key>
		<date>1941-12-07T17:00:00Z</date>
		<key>infoUrlString</key>
		<string>https://en.wikipedia.org/wiki/Attack_on_Pearl_Harbor</string>
	</dict>
	<key>Event 7</key>
	<dict>
		<key>name</key>
		<string>Neil Armstrong walks on the moon</string>
		<key>date</key>
		<date>1969-07-20T16:00:00Z</date>
		<key>infoUrlString</key>
		<string>https://www.nasa.gov/mission_pages/apollo/apollo11.html</string>
	</dict>
	<key>Event 8</key>
	<dict>
		<key>name</key>
		<string>Jimmy Carter elected president</string>
		<key>date</key>
		<date>1976-11-02T17:00:00Z</date>
		<key>infoUrlString</key>
		<string>https://en.wikipedia.org/wiki/United_States_presidential_election,_1976</string>
	</dict>
	<key>Event 9</key>
	<dict>
		<key>name</key>
		<string>Three Mile Island nuclear accident</string>
		<key>date</key>
		<date>1979-03-28T17:00:00Z</date>
		<key>infoUrlString</key>
		<string>https://en.wikipedia.org/wiki/Three_Mile_Island_accident</string>
	</dict>
	<key>Event 10</key>
	<dict>
		<key>name</key>
		<string>Civil Rights Act signed by President Johnson</string>
		<key>date</key>
		<date>1964-07-02T16:00:00Z</date>
		<key>infoUrlString</key>
		<string>https://en.wikipedia.org/wiki/Civil_Rights_Act_of_1964</string>
	</dict>
	<key>Event 11</key>
	<dict>
		<key>name</key>
		<string>Space Shuttle Challenger Accident</string>
		<key>date</key>
		<date>1986-01-28T17:00:00Z</date>
		<key>infoUrlString</key>
		<string>http://www.space.com/31732-space-shuttle-challenger-disaster-explained-infographic.html</string>
	</dict>
	<key>Event 12</key>
	<dict>
		<key>name</key>
		<string>Fox Broadcasting Company launched</string>
		<key>date</key>
		<date>1986-10-09T16:00:00Z</date>
		<key>infoUrlString</key>
		<string>https://en.wikipedia.org/wiki/Fox_Broadcasting_Company</string>
	</dict>
	<key>Event 13</key>
	<dict>
		<key>name</key>
		<string>Declaration of Independance signed</string>
		<key>date</key>
		<date>1776-08-02T16:56:02Z</date>
		<key>infoUrlString</key>
		<string>http://www.constitutionfacts.com/us-declaration-of-independence/fascinating-facts/</string>
	</dict>
	<key>Event 14</key>
	<dict>
		<key>name</key>
		<string>Battle of the Alamo started</string>
		<key>date</key>
		<date>1836-02-23T16:56:02Z</date>
		<key>infoUrlString</key>
		<string>http://www.history.com/topics/alamo</string>
	</dict>
	<key>Event 15</key>
	<dict>
		<key>name</key>
		<string>Confederate forces fire on Fort Sumter triggering American Civil War</string>
		<key>date</key>
		<date>1861-04-12T16:56:02Z</date>
		<key>infoUrlString</key>
		<string>http://www.civilwar.org/education/history/civil-war-overview/overview.html?referrer=https://www.google.com/</string>
	</dict>
	<key>Event 16</key>
	<dict>
		<key>name</key>
		<string>Abraham Lincoln assassinated at Ford&apos;s Theatre</string>
		<key>date</key>
		<date>1865-04-14T16:56:02Z</date>
		<key>infoUrlString</key>
		<string>http://www.history.com/topics/abraham-lincoln-assassination</string>
	</dict>
	<key>Event 17</key>
	<dict>
		<key>name</key>
		<string>US women granted the right to vote</string>
		<key>date</key>
		<date>1920-08-18T16:00:00Z</date>
		<key>infoUrlString</key>
		<string>http://www.history.com/topics/womens-history/19th-amendment</string>
	</dict>
	<key>Event 18</key>
	<dict>
		<key>name</key>
		<string>The first nuclear device detonated</string>
		<key>date</key>
		<date>1945-07-16T16:00:00Z</date>
		<key>infoUrlString</key>
		<string>https://en.wikipedia.org/wiki/Manhattan_Project</string>
	</dict>
	<key>Event 19</key>
	<dict>
		<key>name</key>
		<string>John F. Kennedy assassinated</string>
		<key>date</key>
		<date>1963-11-22T17:00:00Z</date>
		<key>infoUrlString</key>
		<string>https://en.wikipedia.org/wiki/Assassination_of_John_F._Kennedy</string>
	</dict>
	<key>Event 20</key>
	<dict>
		<key>name</key>
		<string>Charles Lindbergh makes the first solo transatlantic flight</string>
		<key>date</key>
		<date>1927-05-20T16:00:00Z</date>
		<key>infoUrlString</key>
		<string>http://www.charleslindbergh.com/history/paris.asp</string>
	</dict>
	<key>Event 21</key>
	<dict>
		<key>name</key>
		<string>The Star-Spangled Banner is adopted as the national anthem</string>
		<key>date</key>
		<date>1931-03-03T17:00:00Z</date>
		<key>infoUrlString</key>
		<string>https://en.wikipedia.org/wiki/The_Star-Spangled_Banner</string>
	</dict>
	<key>Event 22</key>
	<dict>
		<key>name</key>
		<string>The U.S. Enters World War I</string>
		<key>date</key>
		<date>1917-04-06T17:00:00Z</date>
		<key>infoUrlString</key>
		<string>https://en.wikipedia.org/wiki/American_entry_into_World_War_I</string>
	</dict>
	<key>Event 23</key>
	<dict>
		<key>name</key>
		<string>Explorer I, the first American satellite is launched</string>
		<key>date</key>
		<date>1958-01-31T17:00:00Z</date>
		<key>infoUrlString</key>
		<string>https://en.wikipedia.org/wiki/Explorer_1</string>
	</dict>
	<key>Event 24</key>
	<dict>
		<key>name</key>
		<string>Alaska becomes the 49th state</string>
		<key>date</key>
		<date>1959-01-03T17:00:00Z</date>
		<key>infoUrlString</key>
		<string>http://learning.blogs.nytimes.com/2012/01/03/jan-3-1959-alaska-becomes-a-state/?_r=0</string>
	</dict>
	<key>Event 25</key>
	<dict>
		<key>name</key>
		<string>John Glenn becomes the first U.S. astronaut to orbit Earth</string>
		<key>date</key>
		<date>1962-02-20T17:00:00Z</date>
		<key>infoUrlString</key>
		<string>https://en.wikipedia.org/wiki/John_Glenn</string>
	</dict>
</dict>
</plist>
